<!DOCTYPE html>
<html lang="en">

    <head>
	<meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/public/css/main.css">	
	<title>Open Court</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
    </head>
    
    <body>
	<h1><a href="/" id="title">Open Court</a></h1>
	
	{{{body}}}
	
    </body>
</html>

