<h1 style="color: sienna">About Us</h1>

<blockquote id="me">
    Created by: Barath Srinivasan<br><br>

    The purpose of this application is prototype displaying the usefulness
    of having one central hub for lawyers and judges to share their work with
    each other and the general public.
    
    <br><br>

    Usefule feature include
    
    <ul>
	<li> Possible to add more cases </li>
	<li> Private chatroom for lawyers and judges </li>
	<li> Ability to to upload and download legal pdf documents </li>
	<li> Security against unwanted impersonation by using sessions and targeted HTML rendering </li>
	<li> Control panel for judges to use at their full discrection </li>
	<li> Can filter cases, search for them, and even particular files in the cases </li>
	<li> Finally an archiving system that automatically archives removed files or deleted cases </li>
    </ul>
    
    <br>
    
    So, now feel free to create a new case and explore!!!
</blockquote>
