<div class="home-buttons">
    <button><a class="hbutton" href="/create">Create New Case </a></button>
    <button><a class="hbutton" href="/join">Join Existing Case</a></button>
    <button><a class="hbutton" href="/viewall">View All Cases</a></button>
    <button><a class="hbutton" href="/about">About Us Page</a></button>
</div>
